<% layout("/layouts/boilerplate") %>
<body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%=oldListing._id%>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=oldListing.title%>" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <textarea name="listing[description]" class="form-control"><%=oldListing.description%></textarea>
        </div>
        
        <div class="mb-3">
            <input name="listing[image]" value="<%=oldListing.image%>" type="text" class="form-control" />
        </div>
        
        <div class="mb-3">
            <input name="listing[price]" value="<%=oldListing.price%>" type="number" class="form-control" />
        </div>
        
        <div class="mb-3">
            <input name="listing[country]" value="<%=oldListing.country%>" type="text" class="form-control" />
        </div>
        
        <div class="mb-3">
            <input name="listing[location]" value="<%=oldListing.location%>" type="text" class="form-control" />
        </div>
        <br /><br />
        <button>Edit</button>
    </form>
</body>