<% layout("/layouts/boilerplate") %>
<!-- <body> -->
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit your Listing</h3>
            <form method="POST" action="/listings/<%=oldListing._id%>?_method=PUT">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=oldListing.title%>" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"><%=oldListing.description%></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image][url]" value="<%=oldListing.image.url%>" type="text" class="form-control" />
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%=oldListing.price%>" type="number" class="form-control" />
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%=oldListing.country%>" type="text" class="form-control" />
                    </div>
                </div>
                <!-- the price and country were in one column, but after placing them in a single row, that section is divided into 12 parts where it is assigned space appropriately. But this is not usable in small screens, so the -md in col-md-4, i.e., medium makes it row only and above medium screens but in small screens, the fields separate into different rows. -->
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%=oldListing.location%>" type="text" class="form-control" />
                </div>

                <button class="btn btn-dark edit-btn mt-3">Edit</button>
                <br /><br />
            </form>
        </div>
    </div>
<!-- </body> -->